extends layout

block append head
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/javascripts/checker.js')
  script(src='/codemirror-4.12/lib/codemirror.js')
  script(src='/codemirror-4.12/mode/clike/clike.js')

block content
  title "textarea's test"
  div.a
    h1 Welcome to the Instant Java Class File Disassembler Online
    br
    input#class_name(placeholder="Enter your class")
  div.b
    div.b0
    div.b1
      h2 Your java code:
      textarea#input_java(name="styled-textarea", placeholder="Input java code here", style="background-color: white; background-position: initial initial; background-repeat: initial initial;")
    div.b2
    div.b3
      h2 Your result: 
      textarea#output_bc(name="styled-textarea", readonly, style="background-color: white; background-position: initial initial; background-repeat: initial initial;")
    div.b4