doctype html
script(type='text/javascript', src='/javascripts/jquery-1.11.2.min.js')
html
  block head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/reset.css')
  body
    block content