.a{
	max-width: 960px;
	width: 100%;
	height: 70px;
	margin: 40px auto;
}
.b{
	max-width: 960px;
	width: 100%;
	height: 450px;
	margin: 0px auto;
}
.b0{
	width: 6%;
	height: 100%;
	float: left;
}
.b1{
	width: 41%;
	height: 100%;
	float: left;
}
.b2{
	width: 6%;
	height: 100%;
	float: left;
}
.b3{
	width: 41%;
	height: 100%;
	float: left;
}
.b4{
	width: 6%;
	height: 100%;
	float: left;
}

textarea#input_java {
	width: 100%;
	height:100%;
}

textarea#output_bc {
	width: 100%;
	height:100%;
}

